* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    width: 100%;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

body {
    background-color: #f2f2f2;
    position: relative;
}

.txt-hide {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
}
